
.Center {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 600px;

  & > button {
    text-align: center;
  }
}

.Lobby-list {
  height: 350px;
}

.Lobby-container {
  max-width: 800px;
  margin: auto;
}

.Full-width {
  width: 100%;
}

.Content-box {
  max-width: 293;
  box-shadow: 0 0 10px #333333;
}

.Game-panel {
  max-width: 100%;
}

@media screen and (max-width: 600px) {
  .Game-panel {
    max-width: 100%;
    border-radius: 0;
    border-left: 0;
    border-right: 0;

  }
}

.Shadow-box {
  box-shadow: 0 0 10px #333333;
}
